<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<div class="body_wrapper">
  <div class="container c_body">
    <div class="row justify-content-center">
        <div class="row">
            <i class="fa fa-chevron-left" [routerLink]="['/login']"></i>
        </div>
        <div class="col-10">
          <p class="register_text">Quase lá! Agora vamos criar o seu perfil.</p>
          <div class="logo_wrapper">
            <div class="col-12">
              <img class="logo" src="../../../assets/img/perfil-foto.png">
            </div>
          </div>
          <p class="photo_text">ADICIONAR FOTO</p>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <input type="text" placeholder="NOME COMPLETO*" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="DATA DE NASCIMENTO*" formControlName="birthday" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }" />
                  <div *ngIf="submitted && f.birthday.errors" class="invalid-feedback">
                      <div *ngIf="f.birthday.errors.required">Birthday is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="CPF" formControlName="cpf" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpf.errors }" />
                  <div *ngIf="submitted && f.cpf.errors" class="invalid-feedback">
                      <div *ngIf="f.cpf.errors.required">CPF is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="E-MAIL*" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="DDD + TELEFONE*" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                      <div *ngIf="f.phone.errors.required">Phone is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <input type="text" placeholder="BAIRRO*" formControlName="neighborhood" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.neighborhood.errors }" />
                  <div *ngIf="submitted && f.neighborhood.errors" class="invalid-feedback">
                      <div *ngIf="f.neighborhood.errors.required">Neighborhood is required</div>
                  </div>
              </div>
              <div class="form-group">
                    <input type="text" placeholder="USUARIO" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
              <div class="form-group">
                  <input type="password" placeholder="SENHA" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
              </div>
              <div class="form-group">
                <div class="col-10 continue_link">
                    <button [disabled]="loading" class="y">CONTINUAR <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
              </div>
          </form>
      </div>
    </div>
    
  </div>
</div>
