body {
    overflow: hidden;
}

.body_wrapper {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(90deg, #ff5370, #f15f22);
}

p, button {
    font-family: 'Nunito', sans-serif;
}

.logo {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo_wrapper {
    display: flex;
    justify-content: center;
}

.form-control {
    height: 2.0rem;
}

.c_body {
    max-height: 20%;
}

.register_text {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 2.0rem;
}

.form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.form-group:first-child {
    margin-top: 2.5rem;
}

.form-group input {
    background: transparent;
    border: 1.5px solid white;
    border-radius: 9px;
    height: 2.3rem;
}

::-webkit-input-placeholder, .photo_text  {
    color: white;
    font-size: 13px;
    font-style: italic;
  }

  .photo_text {
      font-style: normal;
      text-align: center;
      margin-bottom: 1.9rem;
  }


  .continue_link {
    display: flex;
    justify-content: center;
    margin-bottom: 0.3rem;
    margin-top: 1.2rem;
  }

  .continue_link a{
      color: #1d2633;
      font-weight: bold;
      font-size: 1.3rem;
    }


.fa-arrow-right {
    font-size: 1.7rem;
    font-weight: 100;
    padding-top: 0.1rem;
    padding-left: 0.4rem;
}
  