.body_wrapper {
    height: 100%;
    width: 100%;
}

p, button {
    font-family: 'Nunito', sans-serif;
}

.logo {
    max-width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo_wrapper {
    display: flex;
    justify-content: center;
}

.form-control {
    height: 2.0rem;
}

.c_body {
    background: linear-gradient(90deg, #ff5370, #f15f22);
    height: 100%;
}

.register_text {
    font-size: 14px;
    color: white;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: 2.0rem;
}

.form-group {
    display: flex;
    justify-content: center;
}

.form-group_user {
    margin-bottom: 0.2rem;
}

.form-group input {
    background: transparent;
    border: 1.5px solid white;
    border-radius: 9px;
}

::-webkit-input-placeholder, .photo_text  {
    color: white;
    font-size: 13px;
    font-style: italic;
  }

  .photo_text {
      font-style: normal;
      text-align: center;
      margin-bottom: 1.9rem;
  }

  .not_register {
    display: flex;
    justify-content: center;
    margin-top: 3.0rem;
  }

  .not_register p {
      color: white;
      font-size: 12px;
      margin-bottom: 0.3rem;
  }

  .continue_link {
    display: flex;
    justify-content: center;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
  }

  .continue_link a{
      color: #1d2633;
      /* text-decoration: underline; */
      font-weight: bold;
      font-size: 16px;
  }