<header class="main__header">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
</header>

<div class="body_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <img class="logo" src="../../../assets/img/logo.png" alt="Vai UmaMão?">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-8">
        <p>
          <strong>OI :)</strong>
        </p>
        <p class="font-nunito">
          Somos uma plataforma para conectar pessoas com ações locais e estamos aqui para <strong>te dar uma mao.</strong>
          <br>
          Queremos incentivar a convivência de moradores do mesmo bairro para compartilhar momentos e ocupar espaços público. As grandes mudancas acontecem com pequenas ações.
        </p>
        <p class="font-nunito">
          <strong>Vamos?</strong>
        </p>
        <div class="not_register" >
          <a href="/login" class="btn light_button font-nunito align-content-center">COMEÇAR <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
