<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<div class="body_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <img class="logo" src="../../../assets/img/logo.png" alt="Vai UmaMão?">
      </div>
    </div>
    <div class="row justify-content-center font-nunito margin_top">
      <div class="col-7">
        <p>
        <strong>UHUU!</strong>
        </p>
        <p>
            O seu vizinho recebeu a sua mensagem 
          <br>
            e responderá assim que possível.
        </p>
        <p>
          
        </p>
        <div class="not_register" >
          <a href="/postagens" class="btn light_button">VOLTAR PARA O FEED <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>