<app-side-bar></app-side-bar>
<div class="body_wrapper">
  <div class="container c_header_profile">
    <div class="row">
    </div>
    <div class="row">
      <i [routerLink]="['/perfil']" class="fa fa-chevron-left ff"></i>
    </div>
    <div *ngIf="showMenu; else oi">
        <app-side-bar></app-side-bar>
      </div>
      <ng-template #oi>
      </ng-template>
    <div class="row">
      <img src="../../../../assets/img/tele-feed-aberta-poodle.jpg" class="main_photo" alt="Foto Principal da Postagem">
      <img class="profile_photo" src="../../../../assets/img/foto-usuario-telaaberta.png" alt="Foto do Autor da Postagem">

    </div>
    <div class="row profile">
      <div class="col-12">
        <div class="row">
          <p class="profile_name" >Gabriel Maia</p>
        </div>
        <div class="row">
          <p class="profile_rank">LÍDER COMUNITÁRIO</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-11">
          <h2 class="help_title">Passeio seu cão</h2>
          <p class="help_text ">
            Todo fim de tarde fico na Praça Bonita com o Pipoca, meu poodle.
            Tenho experiência com cães de pequeno a médio porto. Adoraríamos companhia :)
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <div class="row justify-content-center icons">
          <img class="mini_icon" src="../../../../assets/img/tele-feed-aberta-calendario.jpg" alt="Icone Calendario">
        </div>
        <div class="row justify-content-center">
          <p class="mini_text">Ter-qui<br>Recorrente</p>
        </div>
      </div>
      <div class="col-3">
        <div class="row justify-content-center icons">
          <img class="mini_icon" src="../../../../assets/img/tele-feed-aberta-relogio.jpg" alt="Icone do Relogio">
        </div>
        <div class="row justify-content-center">
          <p class="mini_text">18h30min</p>
        </div>
      </div>
      <div class="col-3">
        <div class="row justify-content-center icons">
          <img class="mini_icon" src="../../../../assets/img/tele-feed-aberta-pessoa.jpg" alt="Icone de Pessoa">
        </div>
        <div class="row justify-content-center">
          <p class="mini_text">Até 5</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <a class="botao" (click)="showPopUp()">Quero uma mão</a>
    </div>
    <div *ngIf="popup; else oi">
      <app-pop-up></app-pop-up>
    </div>
    <ng-template #oi></ng-template>
  </div>
</div>
