body {
    overflow: hidden;
}

mat-sidenav {
    position: fixed;
    max-width: 70%;
    min-height: 100% !important;
    background: linear-gradient(90deg, #ff5370, #f15f22);
}
mat-sidenav-content {
    min-width: 100vw;
}

.header {
    background: linear-gradient(90deg, #ff5370, #f15f22);
    width: 100vw;
    height: 50px;
}
.mat-button {
    background: none;
}
.menu_wrapper {
    min-height: 100%;
    min-width: 80%;
    max-width: 80%;
    background: linear-gradient(90deg, #ff5370, #f15f22);
}

p, button, a {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
}

.text_logo {
    max-height: 7.0vh;
    width: auto;
    padding-top: 0.3rem;
    padding-right: 0.3rem;
}

.engrenagem {
    font-size: 2.0rem;
    color: white;
    font-weight: 100;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.fa-bars {
    color: white;
    margin-left: 50vw;
    font-size: 1.8rem;
}

.hidden {
    margin-left: 0.5rem;
    margin-top: 0.6rem;
}

.profile_image {
    height: 18vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile_name {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    margin-left: 0.2rem;
    margin-top: 1vh;
    height: 2vh;
    margin-bottom: 3vh;
}

.fa-pencil {
    color: white;
    margin-left: 0.2rem;
    margin-top: 0.5vh;
}

.profile_rank {
    color: white;
    letter-spacing: 0.02rem;
    font-size: 0.8rem;
    height: 0.3vh;
    margin-bottom: 1rem;
}

.profile_mention {
    color: white;
    letter-spacing: 0.02rem;
    font-size: 0.8rem;
    height: 0.2vh;
}

.break_line::after {
    content: "";
    display: block;
    height: 1px;
    width: 50vw;
    margin: 5px auto 10px auto;
    background-color: #fff;
    margin-top: 5vh;
}


.menu_icon {
    margin-top: 1vh;
}

.nav-item {
    margin-left: 4.0vh;
}

.nav-item a {
    color: white;
    font-size: 0.8rem;
}

.navbar-nav img {
    width: 1.5rem;
    height: auto;
}
.menu_name {
    margin-top: 2.0vh;
    margin-left: 6vw;
}

.logo_image {
    width: 20%;
    height: 20%;
    margin-left: 11.5rem;
}

.logout {
    margin-left: 0rem;
}