<div class="body_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <img class="logo" src="../../../assets/img/logo.png" alt="Vai UmaMão?">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-9 text">
        <p>
          <b>Oi :)</b>
        </p>
        <p>
          Somos uma plataforma para conectar pessoas com ações locais e estamos aqui para <b>te dar Uma Mão.</b>
          <br>
        </p>
        <p>
          Queremos incentivar a convivência de moradores do mesmo bairro para compartilhar momentos e ocupar espaços público. As grandes mudancas acontecem com pequenas ações.
        </p>
        <p>
          <b>Vamos?</b>
        </p>
        <div class="not_register" >
          <a routerLink="/perfil" class="btn light_button">COMEÇAR <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
