.h2_nunito{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
  }
  

.btn_ajudar{
    /* font-weight: bold; */
    background-color: #f15f22;
    font-size: 0.9rem;
    color: white;
    /* position: absolute; */
    bottom: 0;
    border-radius: 7px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0px;
    
}
.row {
    margin-bottom: 25px;
}

.font_nunito{
    font-family: 'Nunito', sans-serif;
    font-size: 0.8rem;
}

.card-img-top {
    height: 7.0rem;
    width: 9.5rem;
}

.second {
    padding-left: 20px;
    margin-right: 0px;
}
  