<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<div class="body_wrapper">
  <div class="container c_header_profile">
    <i class="fa fa-bars"></i>
    <img class="text_logo" align="right"src="../../../assets/img/umamaologotopop.png">
    <div class="row justify-content-center profile_wrapper">
      <div class="col-12">
        <img class="profile_image" src="../../../assets/img/foto-usuario1.png">
      </div>
    </div>
  </div>
  <div class="separation"></div>
  <div class="container c_body_profile">
    <div class="row justify-content-center">
      <p class="profile_name">Letícia Silva</p>
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </div>
    <div class="row justify-content-center">
      <p class="profile_rank">N O V A T O</p>
    </div>
    <div class="row justify-content-center">
      <p class="profile_mention">@ Itú Sabará</p>
    </div>
    <div class="row justify-content-center">
      <button class="profile_add">Adicionar atividade</button>
    </div>
    <div class="row justify-content-center">
      <p class="profile_points">Você tem <strong>3</strong> pontos</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-5 profile_helped">
        <div class="row title justify-content-center">
          <p>JÁ AJUDOU</p>
        </div>
        <div class="row info justify-content-center">
          <p>2</p><p>x</p>
        </div>
      </div>
      <div class="col-5 profile_helping">
          <div class="row title justify-content-center">
           <p>JÁ AJUDARAM</p>
          </div>
          <div class="row info justify-content-center">
           <p>1</p><p>x</p>
          </div>
        </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11">
        <p class="profile_help">Preciso de ajuda</p>
      </div>
    </div>
  </div>
</div>
