<div class="font_nunito margin_All">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,800" rel="stylesheet">
  <div *ngFor="let postagem of postagens" >
    <div class="row">
      <div class="col-6">
        <img class="card-img-top" [src]="postagem.photo" alt="Imagem da postagem">
      </div>
      <div class="col-6">
        <h2 class="h2_nunito">{{postagem.title}}</h2>
        <p>{{postagem.description}}</p>
        <a href="/postagem/id?={{postagem.post_id}}" class="btn btn_ajudar">{{textoAcao}}</a>
      </div>
    </div>
  </div>
</div>
